POSTGRES_DB=flashcards
POSTGRES_USER=flashcards
POSTGRES_PASSWORD=local_dev_password
JWT_SECRET=replace_with_a_long_random_secret
RESEND_API_KEY=re_your_key
EMAIL_FROM=Flashcards <no-reply@stackcanary.net>